*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  html {
    font-size: 22px;
    -webkit-text-size-adjust: 115%;
    text-size-adjust: 115%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 24px;
    -webkit-text-size-adjust: 120%;
    text-size-adjust: 120%;
  }
}
